body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
.container {
max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
    
}

/* ======= HEADER STYLES ======= */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.nav-list {
    display: flex;
    align-items: center;
        gap: 40px;
}
.header-container {
    display: flex;
    align-items: center;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
        align-items: center;
}

/* ======= ADDRESS STYLES ======= */

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts-list {
display: flex;
    align-items: center;
    gap: 40px;
}
/* ======= HERO STYLES ======= */

.page-hero {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    gap: 24px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-service-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
    color: #fff;
}


/* ======= BENEFITS STYLES ======= */
.page-benefits {
padding: 120px 0 120px;
}

.title-benefits {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.benefits-list {
display: flex;
    gap: 24px;
}

.benefits-item {
flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 264px;
}

.benefits-item:first-child {
    width: calc(((100%-72px)/4));
}

.title-benefits-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
        gap: 24px;
        padding: 32px 0;
}

.info-benefits {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-future {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.icon-future {
    width: 64px;
    height: 64px;
}

/* ======= TEAM STYLES ======= */

.page-team {
    background-color: #f4f4fd;
        text-align: center;
        padding: 120px 0;
        
}

.title-teame {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.person-page {
    background-color: #FFF;
        text-align: center;
        width: 264px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.person-page:first-child {
    width: calc((100%-72px)/4);
}

.team-info {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    flex-wrap: wrap;
}

.team-item-description {
    padding: 32px 0;
    border-radius: 50%;
}

.team-person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.team-person-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ======= PORTFOLIO STYLES ======= */
.page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-left: 0;
    margin-right: 0;
}

.subtitle-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-description {
    padding: 32px 16px;
}

.info-portfolio:first-child {
    width: calc((100%-48px)/3);
}

.portfolio-border {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}
.portfolio-image-container:hover {
    transform: translateY(0%);
}

.portfolio-image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-description:hover::before, .portfolio-description:hover::after {
    transform: translateY(0%);
}

.info-portfolio {
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.caption-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;   
}

.info-portfolio:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.desc-caption-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
}


/* ======= FOOTER STYLES ======= */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-part {
    color: #f4f4fd;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;

}

.page-logo-footer {
    display: inline-block;
    margin-bottom: 16px ;
 }
 .footer-social-contact {
     margin-right: 208px;
 }

 .footer-list-title {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
     margin-top: 0;
     margin-bottom: 16px;
     padding-bottom: 3px;
     padding-top: 0;
    height: 100%;
 }

 .footer-list {
     display: flex;
     gap: 16px;
 }

 .footer-links-item {
     width: 40px;
     height: 40px;
 }

 .footer-social-link {
    margin-right: 120px;
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-social-link:hover,
 .footer-social-link:focus {
    background-color: #31d0aa;
 }

 .footer-media-icon {
     fill: #f4f4fd;
 }

 .footer-wrap {
    margin-right: 120px;
    display: flex;
    align-items: baseline;
width: 264px;
    height: 126px;
 }
 .footer-container {
    display: flex;
    align-items: baseline;
 }

 /* ======= ICONES =======*/

 .icon-list {
     display: flex;
     justify-content: center;
     gap: 24px;
     flex-shrink: 0;
     align-self: flex-end;
     list-style: none;
     margin-top: 8px;
     padding: 0 16px;
     flex-direction: row;
     align-items: center;
 }

 .icon-item {
     width: 40px;
     height: 40px;
 }

 .icon-link {
     width: 40px;
     height: 40px;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .icon-link:hover,
 .icon-link:focus {
     background-color: #404bbf;
 }

 .icon-icon {
    fill: #f4f4fd;
 }