body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
.container {
max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
}

/* ======= HEADER STYLES ======= */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.nav-list {
    display: flex;
    align-items: center;
        gap: 40px;
}
.header-container {
    display: flex;
    align-items: center;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
        align-items: center;
}

/* ======= ADDRESS STYLES ======= */

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts-list {
display: flex;
    align-items: center;
    gap: 40px;
}
/* ======= HERO STYLES ======= */
.page-hero {
background-color: #2e2f42;
    padding: 188px 0 188px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/1people-office.jpg);
    max-width: 1440px;
    margin: 0 auto;
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-service-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
    color: #fff;
}


/* ======= BENEFITS STYLES ======= */

.page-benefits {
padding: 120px 0 120px;
}

.title-benefits {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.benefits-list {
display: flex;
    gap: 24px;
}

.benefits-item {
flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 264px;
}

.benefits-item:first-child {
    width: calc(((100% - 72px) / 4));
}

.title-benefits-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: flex;
        gap: 24px;
}

.info-benefits {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-future {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.icon-future {
    width: 64px;
    height: 64px;
}

/* ======= TEAM STYLES ======= */

.page-team {
    background-color: #f4f4fd;
        text-align: center;
        padding: 120px 0;
}

.title-team {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.person-page {
    background-color: #FFF;
        text-align: center;
        width: 264px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.person-page:first-child {
    width: calc((100% - 72px) / 4);
}

.team-info {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    flex-wrap: wrap;
}

.team-item-description {
    padding: 32px 0;
    border-radius: 50%;
}

.team-person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.team-person-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.icon-icon {
fill: #f4f4fd;
}


/* ======= PORTFOLIO STYLES ======= */

.page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-left: 0;
    margin-right: 0;
}

.subtitle-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 24px;
    row-gap: 48px;
}

.section-item-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-description {
    padding: 32px 16px;
}

.info-portfolio:first-child {
    width: calc((100% - 48px) / 3);
}

.portfolio-border {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image-container:hover::before,
.portfolio-image-container:hover::after {
    transform: translateY(0%);}

.portfolio-description:hover::before,
    .portfolio-description:hover::after {
        transform: translateY(0%);}

.desc-caption-portfolio:hover::before,
        .desc-caption-portfolio:hover::after {
            transform: translateY(0%);
        }
.info-portfolio:hover .portfolio-description {
                    transform: translateY(0);
                }

.info-portfolio {
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.caption-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;   
}

.info-portfolio:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.desc-caption-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.desc-caption-portfolio:hover::before, .desc-caption-portfolio:hover::after {
transform: translateY(0%);
}


/* ======= FOOTER STYLES ======= */

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-box {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.container-soc {
    display: flex;
    gap: 16px;
}

.footer-text-soc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    gap: 24px;
    color: #ffffff;
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.icon {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    background-color: #4d5ae5;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}
.modal-subscribe {
color: #ffffff;
}

 /* ======= ICONES =======*/

 .icon-list {
     display: flex;
     justify-content: center;
     gap: 24px;
     flex-shrink: 0;
     align-self: flex-end;
     list-style: none;
     margin-top: 8px;
     padding: 0 16px;
     flex-direction: row;
     align-items: center;
 }

 .icon-item {
     width: 40px;
     height: 40px;
 }

 .icon-link {
     width: 40px;
     height: 40px;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .icon-link:hover,
 .icon-link:focus {
     background-color: #404bbf;
 }

 .icon-send {
     fill: #fff;
     margin-left: 16px;
 }

 /* == OVERLAY == */

 .modal-subscribe {
     border: 1px solid #fff;
     border-radius: 4px;
     width: 264px;
     height: 40px;
     background: #2e2f42;
     background-color: transparent;
     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
     padding-left: 16px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 }

 .modal-subscribe::placeholder {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 200%;
     letter-spacing: 0.04em;
     color: #fff;
 }

 .subscribe-email .placeholder {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 200%;
     letter-spacing: 0.04em;
     color: #fff;
 }

 .overlay {
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     background-color: rgba(46, 47, 66, 40%);
 }

 .is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 .modal {
     border-radius: 4px;
     width: 408px;
     min-height: 584px;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
         0 2px 1px 0 rgba(0, 0, 0, 0.2);
     background: #fcfcfc;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 72px 24px 24px 24px;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .model-close-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: auto;
     fill: var(--cornflower);
     stroke-width: 1px;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
     width: 24px;
     height: 24px;
     position: absolute;
     top: 24px;
     right: 24px;
     background-color: #e7e9fc;
     padding: 0;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .model-close-btn:hover,
 .model-close-btn:focus {
     background-color: #404bbf;
     border: none;
     fill: #ffffff;
 }

 .close-btn {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-title {
     font-family: var(--font-family);
     max-width: 360px;
     font-size: 16px;
     line-height: 150%;
     letter-spacing: 0.02em;
     text-align: center;
     margin-bottom: 16px;
     font-weight: 500;
     color: #2e2f42;
 }

 .modal-input {
     display: inline-block;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     width: 100%;
     height: 40px;
     background-color: transparent;
     padding-left: 38px;
     padding-right: 24px;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-input:focus {
     border: 1px solid #4d5ae5;
 }

 .form-field {
     margin-bottom: 8px;
 }

 .label {
     display: block;
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 117%;
     letter-spacing: 0.04em;
     color: #8e8f99;
     margin-bottom: 4px;
 }

 .input-icon {
     fill: #2e2f42;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 16px;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-input:focus+svg {
     fill: #4d5ae5;
 }

 .modal-input:focus::placeholder {
     color: #4d5ae5;
 }

 .modal-text::placeholder {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-size: 12px;
     line-height: 117%;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
 }

 .modal-wrap {
     position: relative;
 }

 .form-comment {
     margin-bottom: 16px;
 }

 .user-comment {
     width: 100%;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .user-comment:focus {
     border-color: #4d5ae5;
 }

 .user-comment {
     display: inline-block;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     width: 100%;
     height: 120px;
     background-color: transparent;
     padding: 8px 16px;
     outline: transparent;
     resize: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-terms {
     margin-bottom: 24px;
 }

 .modal-terms-check {
     font-family: "Roboto", sans-serif;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
     gap: 8px;
 }

 .modal-terms-check span {
     width: 16px;
     height: 16px;
     border-radius: 2px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     display: inline-flex;
     justify-content: center;
     align-items: center;
     fill: transparent;
     margin-right: 8px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1),
         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .check {
     width: 8px;
     height: 10px;
 }

 .modal-terms:checked+.modal-terms-check>.span-check {
     background-color: #404bbf;
     border: none;
     fill: #f4f4fd;
 }

 .form-link {
     color: #4d5ae5;
 }

 .terms-btn {
     font-family: "Roboto", sans-serif;
     background-color: #4d5ae5;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     cursor: pointer;
     border: none;
     border-radius: 4px;
     padding: 16px 32px;
     display: block;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: row;
     gap: 10px;
     margin: 0 auto;
     min-width: 169px;
     height: 56px;
     color: #ffffff;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .terms-btn:hover,
 .terms-btn:focus {
     background-color: #404bbf;
 }