body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}
.container {
max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
}

/* ======= HEADER STYLES ======= */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-list {
    display: flex;
    align-items: center;
        gap: 40px;
}
.header-container {
    display: flex;
    align-items: center;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-nav {
    display: flex;
        align-items: center;
}

/* ======= ADDRESS STYLES ======= */

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts-list {
display: flex;
    align-items: center;
    gap: 40px;
}
/* ======= HERO STYLES ======= */

.page-hero {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    display: flex;
    gap: 24px;
}

.hero-content {
    max-width: 1440px;
    text-align: center;
    margin: auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.order-service-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
    color: #fff;
}


/* ======= BENEFITS STYLES ======= */
.page-benefits {
padding: 120px 0 120px;
}

.subtitle {
    display: flex;
    gap: 24px;
}

.title-benefits {
    text-align: center;
}

.subtitle-benefits {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.info-benefits {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.wpage-benefits {
    flex-direction: flex;
    width: 1128px;
    height: 104px;

}
.wrap {
    flex-direction: flex;
        align-items: start;
        gap: 8px;
        width: 264px;
        margin-right: 24px;
}
.wrap .first-child {
    align-items: start;
    width: calc((100% - 72px) / 4);
}

/* ======= TEAM STYLES ======= */

.page-team {
    background-color: #f4f4fd;
}

.title-teame {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.person-page {
    background-color: #fff;
    text-align: center;
        width: 264px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.person-page :first-child {
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.team-info {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    flex-wrap: wrap;
}

.team-person-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-person-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ======= PORTFOLIO STYLES ======= */
.page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.subtitle-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item-description {
    padding: 32px 16px;
}

.info-portfolio :first-child {
    width: calc((100%-48px)/3);
}

.portfolio-border {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.info-portfolio {
    background-color: #fff;
}

.caption-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;   
}

.desc-caption-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* ======= FOOTER STYLES ======= */

.page-footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
}

.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #f4f4fd;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;

}

.page-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
 }